body {
  text-align: center;
  background-image: url("./images/ep_naturalblack.png");
}

nav {
  position: fixed;
  top: 0;
  background-color: dimgray;
  opacity: 0.8;
}

.navbar-light .navbar-brand, .nav-link {
  color: white !important;

}

button.mr-2.navbar-toggler {
  background-color: white;
}

 

.jumbotron-fluid {
  background-image: url("./images/budebackground.jpg");
  margin-top: 50px;
}

#aboutMeSection {
  color: whitesmoke;
}